{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
  {% if not session['data'] %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Новым пользователям скидка 10% на первый заказ! <a href="{{ url_for('register') }}" class="alert-link">Зарегистрируйтесь</a> сейчас.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

    <div class="row p-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis animate__animated animate__fadeInUp">
                О компании        <span class="text-primary">FashionVista Styles</span>
            </h1>
            <p class="lead animate__animated animate__fadeInUp">
                FashionVista Styles - ваш источник стильной и качественной одежды из Европы.
                Мы создаем уникальный стиль, сочетая последние тренды с высоким качеством материалов.
            </p>
            <p class="animate__animated animate__fadeInUp">
                Наша миссия - сделать модную и высококачественную одежду доступной каждому клиенту.
                Мы стремимся удовлетворить ваши потребности в стиле и комфорте, предлагая широкий ассортимент товаров.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-5 animate__animated animate__fadeInUp">
                <button type="button" class="btn btn-lg px-5" style="background-color: #f5005c; color: white;" data-bs-toggle="modal" data-bs-target="#discountModal">
                    В каталог
                </button>
            </div>
        </div>
        <div class="col-lg-5 p-0 overflow-hidden shadow-lg animate__animated animate__fadeInRight">
            <div id="companyCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#companyCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#companyCarousel" data-slide-to="1"></li>
                    <li data-target="#companyCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/sale.jpg') }}" class="d-block w-100" alt="Discount">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Скидки</h3>
                            <p>Новым клиентам скидка 10% на первый заказ!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/delivery.jpg') }}" class="d-block w-100" alt="Delivery">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Быстрая доставка</h3>
                            <p>Наши клиенты наслаждаются быстрой и надежной доставкой.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/kach.jpg') }}" class="d-block w-100" alt="Quality">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Качество</h3>
                            <p>Мы предлагаем высококачественную одежду, на которую можно полагаться.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#companyCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#companyCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalLabel">Скидка 10% на первый заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a href="{{ url_for('index') }}" class="btn btn-primary">Начать покупки</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
